In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                  ('bird', 'Psittaciformes', 24.0),
                  ('mammal', 'Carnivora', 80.2),
                   ('mammal', 'Primates', np.nan),
                   ('mammal', 'Carnivora', 58)],
                  index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                  columns=('class', 'order', 'max_speed'))

In [4]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [7]:
grouped = pd.DataFrame(df.groupby('class'))
grouped

        0                                                  1
0    bird         class           order  max_speed
falcon...
1  mammal            class      order  max_speed
lion    ...

In [8]:
pd.DataFrame(df.groupby('order', axis='columns'))

Empty DataFrame
Columns: []
Index: []

In [9]:
pd.DataFrame(df.groupby(['class', 'order']))

                        0                                                  1
0   (bird, Falconiformes)         class          order  max_speed
falcon ...
1  (bird, Psittaciformes)         class           order  max_speed
parrot...
2     (mammal, Carnivora)            class      order  max_speed
lion    ...
3      (mammal, Primates)           class     order  max_speed
monkey  ma...