In [62]:
import numpy as np
import pandas as pd
import re

In [63]:
attacks = pd.read_csv("../../attacks.csv", encoding='latin-1')
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Primero voy a ver el nombre de las columnas y el número de nulos que contienen

In [64]:
attacks.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

Elimino las dos ultimas columnas ya que casi todos sus valores son nulos

In [65]:
attacks_clean = attacks.drop(columns = ["Unnamed: 22", "Unnamed: 23"])

Aún así todas las columnas siguen manteniendo un número de nulos muy alto

In [66]:
attacks_clean.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
dtype: int64

Las ultimas filas parecen contener bastantes nulls. Voy a trasponer el DataFrame para analizar las filas como columnas y ver cuantos Nulls contienen

In [67]:
attacks_clean_Transp = attacks_clean.T

Con el DataSet transpuesto, voy a hacer un análisis de nulos. Para ellos creo una lista con el número de nulos por columnas (antiguas filas)

In [68]:
a = list(attacks_clean_Transp.isnull().sum())
attacks_clean_Transp.isnull().sum()

0         0
1         1
2         1
3         2
4         2
         ..
25718    22
25719    22
25720    22
25721    22
25722    21
Length: 25723, dtype: int64

In [69]:
lista=[]
lista2=[]
for e in a:
    e=int(e)
    b=a.count(e)
    if e not in lista:
        lista.append(e)
        lista2.append(b)
print(lista)
print(lista2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 20, 21, 22]
[1422, 1516, 1200, 1196, 540, 293, 102, 26, 7, 7, 2394, 17020]

Veo que de 22 valores que contienen las columnas, hay muchas que tienen igual o mas a 20 nulos. Así que voy a elimar esas

In [70]:
morethan19Nulls = attacks_clean_Transp.isnull().sum()[attacks_clean_Transp.isnull().sum() >= 20].index
morethan19Nulls

Int64Index([ 6302,  6303,  6304,  6305,  6306,  6307,  6308,  6309,  6310,
             6311,
            ...
            25713, 25714, 25715, 25716, 25717, 25718, 25719, 25720, 25721,
            25722],
           dtype='int64', length=19421)

In [71]:
attacks_clean_Transp = attacks_clean_Transp.drop(columns=morethan19Nulls)
attacks_clean_Transp

,0,1,2,3,4,5,6,7,8,9,...,6292,6293,6294,6295,6296,6297,6298,6299,6300,6301
Case Number,2018.06.25,2018.06.18,2018.06.09,2018.06.08,2018.06.04,2018.06.03.b,2018.06.03.a,2018.05.27,2018.05.26.b,2018.05.26.a,...,ND.0010,ND.0009,ND.0008,ND.0007,ND.0006,ND.0005,ND.0004,ND.0003,ND.0002,ND.0001
Date,25-Jun-2018,18-Jun-2018,09-Jun-2018,08-Jun-2018,04-Jun-2018,03-Jun-2018,03-Jun-2018,27-May-2018,26-May-2018,26-May-2018,...,Circa 1862,Before 1906,Before 1906,Before 1906,Before 1906,Before 1903,Before 1903,1900-1905,1883-1889,1845-1853
Year,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,...,0,0,0,0,0,0,0,0,0,0
Type,Boating,Unprovoked,Invalid,Unprovoked,Provoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked,...,Unprovoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked
Country,USA,USA,USA,AUSTRALIA,MEXICO,AUSTRALIA,BRAZIL,USA,USA,USA,...,USA,AUSTRALIA,AUSTRALIA,AUSTRALIA,AUSTRALIA,AUSTRALIA,AUSTRALIA,USA,PANAMA,CEYLON (SRI LANKA)
Area,California,Georgia,Hawaii,New South Wales,Colima,New South Wales,Pernambuco,Florida,Florida,Florida,...,Hawaii,NaN,NaN,NaN,New South Wales,Western Australia,Western Australia,North Carolina,NaN,Eastern Province
Location,"Oceanside, San Diego County","St. Simon Island, Glynn County","Habush, Oahu",Arrawarra Headland,La Ticla,"Flat Rock, Ballina","Piedade Beach, Recife","Lighhouse Point Park, Ponce Inlet, Volusia County","Cocoa Beach, Brevard County","Daytona Beach, Volusia County",...,Puna,NaN,NaN,NaN,,Roebuck Bay,NaN,Ocracoke Inlet,"Panama Bay 8ºN, 79ºW","Below the English fort, Trincomalee"
Activity,Paddling,Standing,Surfing,Surfing,Free diving,Kite surfing,Swimming,Fishing,Walking,Standing,...,NaN,Fishing,Fishing,Fishing,Swimming,Diving,Pearl diving,Swimming,NaN,Swimming
Name,Julie Wolfe,Adyson McNeely,John Denges,male,Gustavo Ramos,Chris,Jose Ernesto da Silva,male,Cody High,male,...,"A ""chiefess""",boy,fisherman,fisherman,Arab boy,male,Ahmun,Coast Guard personnel,Jules Patterson,male
Sex,F,F,M,M,M,M,M,M,M,M,...,F,M,M,M,M,M,M,M,M,M
Age,57,11,48,NaN,NaN,NaN,18,52,15,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
Injury,"No injury to occupant, outrigger canoe and pad...",Minor injury to left thigh,Injury to left lower leg from surfboard skeg,Minor injury to lower leg,Lacerations to leg & hand shark PROVOKED INCIDENT,"No injury, board bitten",FATAL,Minor injury to foot. PROVOKED INCIDENT,Lower left leg bitten,Minor injury to foot,...,Ankle bitten,"FATAL, knocked overboard by tail of shark & ca...",FATAL,FATAL,FATAL,FATAL,FATAL,FATAL,FATAL,"FATAL. ""Shark bit him in half, carrying away t..."
Fatal (Y/N),N,N,N,N,N,N,Y,N,N,N,...,N,Y,Y,Y,Y,Y,Y,Y,Y,Y
Time,18h00,14h00 -15h00,07h45,NaN,NaN,NaN,Late afternoon,NaN,17h00,14h00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Species,White shark,NaN,NaN,2 m shark,"Tiger shark, 3m",NaN,Tiger shark,"Lemon shark, 3'","Bull shark, 6'",NaN,...,NaN,Blue pointer,Blue pointer,Blue pointers,Said to involve a grey nurse shark that leapt ...,NaN,NaN,NaN,NaN,NaN
Investigator or Source,"R. Collier, GSAF","K.McMurray, TrackingSharks.com","K.McMurray, TrackingSharks.com","B. Myatt, GSAF",A .Kipper,"Daily Telegraph, 6/4/2018","Diario de Pernambuco, 6/4/2018","K. McMurray, TrackingSharks.com","K.McMurray, TrackingSharks.com","K. McMurray, Tracking Sharks.com",...,Captain W. Young,"NY Sun, 9/9/1906, referring to account by Loui...","NY Sun, 9/9/1906, referring to account by Loui...","NY Sun, 9/9/1906, referring to account by Loui...","L. Becke in New York Sun, 9/9/1906; L. Schultz...","H. Taunton; N. Bartlett, p. 234","H. Taunton; N. Bartlett, pp. 233-234","F. Schwartz, p.23; C. Creswell, GSAF","The Sun, 10/20/1938",S.W. Baker
pdf,2018.06.25-Wolfe.pdf,2018.06.18-McNeely.pdf,2018.06.09-Denges.pdf,2018.06.08-Arrawarra.pdf,2018.06.04-Ramos.pdf,2018.06.03.b-FlatRock.pdf,2018.06.03.a-daSilva.pdf,2018.05.27-Ponce.pdf,2018.05.26.b-High.pdf,2018.05.26.a-DaytonaBeach.pdf,...,ND-0010-Puna Hawaii.pdf,ND-0009-boy-Australia.pdf,ND-0008-Fisherman2-Australia.pdf,ND-0007 - Fisherman-Australia.pdf,ND-0006-ArabBoy-Prymount.pdf,ND-0005-RoebuckBay.pdf,ND-0004-Ahmun.pdf,ND-0003-Ocracoke_1900-1905.pdf,ND-0002-JulesPatterson.pdf,ND-0001-Ceylon.pdf
href formula,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
href,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1,2018.06.25,2018.06.18,2018.06.09,2018.06.08,2018.06.04,2018.06.03.b,2018.06.03.a,2018.05.27,2018.05.26.b,2018.05.26.a,...,ND.0010,ND.0009,ND.0008,ND.0007,ND.0006,ND.0005,ND.0004,ND.0003,ND.0002,ND.0001
Case Number.2,2018.06.25,2018.06.18,2018.06.09,2018.06.08,2018.06.04,2018.06.03.b,2018.06.03.a,2018.05.27,2018.05.26.b,2018.05.26.a,...,ND.0010,ND.0009,ND.0008,ND.0007,ND.0006,ND.0005,ND.0004,ND.0003,ND.0002,ND.0001
original order,6303,6302,6301,6300,6299,6298,6297,6296,6295,6294,...,11,10,9,8,7,6,5,4,3,2

Una vez eliminadas, confirmo el número máximo de nulos por columna y vuelvo a transponer el DataSet para dejarlo como el original

In [72]:
attacks_clean_Transp.isnull().sum().max()

8

In [73]:
attacks_clean = attacks_clean_Transp.T
attacks_clean

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

Voy a analizar solo sobre la primera fila qué contienen las columnas que han pasado el corte

In [74]:
attacks_clean.iloc[0]

Case Number                                                      2018.06.25
Date                                                            25-Jun-2018
Year                                                                   2018
Type                                                                Boating
Country                                                                 USA
Area                                                             California
Location                                        Oceanside, San Diego County
Activity                                                           Paddling
Name                                                            Julie Wolfe
Sex                                                                       F
Age                                                                      57
Injury                    No injury to occupant, outrigger canoe and pad...
Fatal (Y/N)                                                               N
Time                                                                  18h00
Species                                                         White shark
Investigator or Source                                     R. Collier, GSAF
pdf                                                    2018.06.25-Wolfe.pdf
href formula              http://sharkattackfile.net/spreadsheets/pdf_di...
href                      http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                    2018.06.25
Case Number.2                                                    2018.06.25
original order                                                         6303
Name: 0, dtype: object

Voy a echar un vistazo a las columnas Case Number, Case Number.1 y Case Number.2 que parece que contienen info similar

In [75]:
attack_clean2 = attacks_clean[["Case Number","Case Number.1","Case Number.2","Year","Date"]]

In [76]:
display(attack_clean2["Case Number"] == attack_clean2["Case Number.1"])
attack_clean2["Case Number.2"] == attack_clean2["Case Number.1"]

0       True
1       True
2       True
3       True
4       True
        ...
6297    True
6298    True
6299    True
6300    True
6301    True
Length: 6302, dtype: bool

0       True
1       True
2       True
3       True
4       True
        ...
6297    True
6298    True
6299    True
6300    True
6301    True
Length: 6302, dtype: bool

A priori devuelve mcuchas coincidencias. Voy a contar cuántas veces son diferentes

In [77]:
count=0
for e in zip(list(attack_clean2["Case Number"]), list(attack_clean2["Case Number.1"]), list(attack_clean2["Case Number.2"])):
    if (e[0]!=e[1]) | (e[0]!=e[2]) | (e[2]!=e[1]): 
        count+=1
print(count)

24

De 6301, solo son diferentes 24 veces. Como solo me interesan los años voy a limpiar las strings de esas columnas

In [78]:
attack_clean3 = attack_clean2 

#función quedarme solo con años
def fn(value):
    return (str(value))[0:4]

attack_clean3["Case Number_mod"] = attack_clean3["Case Number"].apply(fn)
attack_clean3["Case Number.1_mod"] = attack_clean3["Case Number.1"].apply(fn)
attack_clean3["Case Number.2_mod"] = attack_clean3["Case Number.2"].apply(fn)

/usr/lib/python3/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/lib/python3/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/lib/python3/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [79]:
attack_clean3

,Case Number,Case Number.1,Case Number.2,Year,Date,Case Number_mod,Case Number.1_mod,Case Number.2_mod
0,2018.06.25,2018.06.25,2018.06.25,2018,25-Jun-2018,2018,2018,2018
1,2018.06.18,2018.06.18,2018.06.18,2018,18-Jun-2018,2018,2018,2018
2,2018.06.09,2018.06.09,2018.06.09,2018,09-Jun-2018,2018,2018,2018
3,2018.06.08,2018.06.08,2018.06.08,2018,08-Jun-2018,2018,2018,2018
4,2018.06.04,2018.06.04,2018.06.04,2018,04-Jun-2018,2018,2018,2018
...,...,...,...,...,...,...,...,...
6297,ND.0005,ND.0005,ND.0005,0,Before 1903,ND.0,ND.0,ND.0
6298,ND.0004,ND.0004,ND.0004,0,Before 1903,ND.0,ND.0,ND.0
6299,ND.0003,ND.0003,ND.0003,0,1900-1905,ND.0,ND.0,ND.0
6300,ND.0002,ND.0002,ND.0002,0,1883-1889,ND.0,ND.0,ND.0
6301,ND.0001,ND.0001,ND.0001,0,1845-1853,ND.0,ND.0,ND.0

In [80]:
attack_clean3 = attack_clean3.drop(columns=["Case Number","Case Number.1","Case Number.2"])

Ahora voy a limpiar la columna Date

In [81]:
def fn2(value):
    a = re.search(r"\d{4}.*", value)
    if a!=None: # Hago esto porque me estaba devolviendo error al hacer el group()
        b = a.group()
        return b
    else:
        return a

    
attack_clean3["Date_mod"] = attack_clean3["Date"].apply(fn2)
attack_clean3["Date_mod"]

0            2018
1            2018
2            2018
3            2018
4            2018
          ...
6297         1903
6298         1903
6299    1900-1905
6300    1883-1889
6301    1845-1853
Name: Date_mod, Length: 6302, dtype: object

In [82]:
attack_clean3 = attack_clean3.drop(columns=["Date"])
attack_clean3

      Year Case Number_mod Case Number.1_mod Case Number.2_mod   Date_mod
0     2018            2018              2018              2018       2018
1     2018            2018              2018              2018       2018
2     2018            2018              2018              2018       2018
3     2018            2018              2018              2018       2018
4     2018            2018              2018              2018       2018
...    ...             ...               ...               ...        ...
6297     0            ND.0              ND.0              ND.0       1903
6298     0            ND.0              ND.0              ND.0       1903
6299     0            ND.0              ND.0              ND.0  1900-1905
6300     0            ND.0              ND.0              ND.0  1883-1889
6301     0            ND.0              ND.0              ND.0  1845-1853

[6302 rows x 5 columns]

In [83]:
a = attack_clean3["Year"].iloc[0]
print(a,type(a))

2018.0 <class 'float'>

Como son floats, voy a pasarlos a string y a quedarme solo con la primera parte del número (con el año)

In [84]:
def fn3(value):
    a = str(value)
    a = a.split(".")
    a = a[0]
    return a
    

attack_clean3["Year_mod2"] = attack_clean3["Year"].apply(fn3)
attack_clean3["Year_mod2"]

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
6297       0
6298       0
6299       0
6300       0
6301       0
Name: Year_mod2, Length: 6302, dtype: object

In [85]:
attack_clean3 = attack_clean3.drop(columns=["Year"])
attack_clean3

     Case Number_mod Case Number.1_mod Case Number.2_mod   Date_mod Year_mod2
0               2018              2018              2018       2018      2018
1               2018              2018              2018       2018      2018
2               2018              2018              2018       2018      2018
3               2018              2018              2018       2018      2018
4               2018              2018              2018       2018      2018
...              ...               ...               ...        ...       ...
6297            ND.0              ND.0              ND.0       1903         0
6298            ND.0              ND.0              ND.0       1903         0
6299            ND.0              ND.0              ND.0  1900-1905         0
6300            ND.0              ND.0              ND.0  1883-1889         0
6301            ND.0              ND.0              ND.0  1845-1853         0

[6302 rows x 5 columns]

Para Case Number_mode, Case Number.1_mod y Case Number.2_mod Todos los ND.0 los voy a comvertir en 0

In [86]:
def fn5(value):
    a = str(value)
    if "." in a:
        a = a.split(".")
        a = a[1]
        return a
    else:
        return a
    
attack_clean3["Case Number_mod"] = attack_clean3["Case Number_mod"].apply(fn5)
attack_clean3["Case Number.1_mod"] = attack_clean3["Case Number.1_mod"].apply(fn5)
attack_clean3["Case Number.2_mod"] = attack_clean3["Case Number.2_mod"].apply(fn5)

attack_clean3[["Case Number_mod", "Case Number.1_mod","Case Number.2_mod"]]

     Case Number_mod Case Number.1_mod Case Number.2_mod
0               2018              2018              2018
1               2018              2018              2018
2               2018              2018              2018
3               2018              2018              2018
4               2018              2018              2018
...              ...               ...               ...
6297               0                 0                 0
6298               0                 0                 0
6299               0                 0                 0
6300               0                 0                 0
6301               0                 0                 0

[6302 rows x 3 columns]

Voy a contar las veces que son diferentes las columnas de attack_clean3 entre sí

In [87]:
count=0 #segunda vez que lo uso
for e in zip(list(attack_clean3["Case Number_mod"]), list(attack_clean3["Case Number.1_mod"]), 
             list(attack_clean3["Case Number.2_mod"]),list(attack_clean3["Year_mod2"])):        
    if (e[0]!=e[1]) | (e[0]!=e[2]) | (e[0]!=e[3]): 
        count+=1
print("Las diferencias sin Date_mod: ",count)


count=0 #segunda vez que lo uso
for e in zip(list(attack_clean3["Case Number_mod"]), list(attack_clean3["Case Number.1_mod"]), 
             list(attack_clean3["Case Number.2_mod"]),list(attack_clean3["Year_mod2"]),list(attack_clean3["Date_mod"])):        
    if (e[4]!=e[0]) | (e[4]!=e[1]) | (e[4]!=e[2]) | (e[4]!=e[3]): 
        count+=1
print("Las diferencias con Date_mod: ",count)


count=0 #segunda vez que lo uso
for e in zip(list(attack_clean3["Case Number_mod"]), list(attack_clean3["Case Number.1_mod"]), 
             list(attack_clean3["Case Number.2_mod"]),list(attack_clean3["Year_mod2"]),list(attack_clean3["Date_mod"])):        
    if (e[4]!=e[0]) | (e[4]!=e[1]) | (e[4]!=e[2]) | (e[4]!=e[3]): 
        count+=1
        print("Aquí Date_mod es diferente: ",e[0],e[1],e[2],e[3],e[4])
        break

Las diferencias sin Date_mod:  52
Las diferencias con Date_mod:  241
Aquí Date_mod es diferente:  2017 2017 2017 2017 2017.06.05

Voy a limpiar ahora los datos de Date_mod que son YYYY.MM.DD para dejarlos solo en YYYY

In [88]:
def fn4(value):
    if value==None: 
        return value            # Hago esto porque me estaba devolviendo error con los values Nonetype
    elif len(value) == 4:
        return value
    else:
        a = re.split(r"\.", value)
        a = a[0]
        return a


    
attack_clean3["Date_mod2"] = attack_clean3["Date_mod"].apply(fn4)
attack_clean3["Date_mod2"]

0            2018
1            2018
2            2018
3            2018
4            2018
          ...
6297         1903
6298         1903
6299    1900-1905
6300    1883-1889
6301    1845-1853
Name: Date_mod2, Length: 6302, dtype: object

In [89]:
count=0 #segunda vez que lo uso
for e in zip(list(attack_clean3["Case Number_mod"]), list(attack_clean3["Case Number.1_mod"]), 
             list(attack_clean3["Case Number.2_mod"]),list(attack_clean3["Year_mod2"]),list(attack_clean3["Date_mod2"])):        
    if (e[4]!=e[0]) | (e[4]!=e[1]) | (e[4]!=e[2]) | (e[4]!=e[3]): 
        count+=1
print(count)

230

He pasado de 241 a 230. Si de 6302 filas solo son diferentes 230, solo es un 4% de los datos. Y Date es la columna que me interesa por tener registro de los datos mas antiguos

In [90]:
attack_clean4 = attack_clean3.drop(columns=["Date_mod"])
attack_clean4

     Case Number_mod Case Number.1_mod Case Number.2_mod Year_mod2  Date_mod2
0               2018              2018              2018      2018       2018
1               2018              2018              2018      2018       2018
2               2018              2018              2018      2018       2018
3               2018              2018              2018      2018       2018
4               2018              2018              2018      2018       2018
...              ...               ...               ...       ...        ...
6297               0                 0                 0         0       1903
6298               0                 0                 0         0       1903
6299               0                 0                 0         0  1900-1905
6300               0                 0                 0         0  1883-1889
6301               0                 0                 0         0  1845-1853

[6302 rows x 5 columns]

In [91]:
attack_years_ok = attacks_clean
attack_years_ok

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
6298,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
6299,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
6300,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
6301,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [92]:
attack_years_ok = attack_years_ok.drop(columns=["Case Number","Date","Year","Case Number.1","Case Number.2"])
attack_years_ok

,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order
0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303
1,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302
2,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301
3,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300
4,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6
6298,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5
6299,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4
6300,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3
6301,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2

In [93]:
attack_years_ok["Date"] = attack_clean3["Date_mod2"]

In [94]:
attack_years_ok

,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order,Date
0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303,2018
1,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302,2018
2,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301,2018
3,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300,2018
4,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6,1903
6298,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,5,1903
6299,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,4,1900-1905
6300,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,3,1883-1889
6301,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2,1845-1853

In [99]:
lista = list(attack_years_ok.columns)
lista

['Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex ',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'original order',
 'Date']

In [101]:
for e in lista:
    print(e, attack_years_ok[e].isnull().sum(),attack_years_ok[e].drop_duplicates().shape)

Type 4 (9,)
Country 50 (213,)
Area 455 (826,)
Location 540 (4109,)
Activity 544 (1533,)
Name 210 (5231,)
Sex  565 (7,)
Age 2831 (158,)
Injury 28 (3738,)
Fatal (Y/N) 539 (9,)
Time 3354 (367,)
Species  2838 (1550,)
Investigator or Source 17 (4970,)
pdf 0 (6291,)
href formula 1 (6291,)
href 0 (6285,)
original order 0 (6301,)
Date 19 (321,)

In [102]:
attack_years_ok["Fatal (Y/N)"].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
2017          1
M             1
N             1
y             1
Name: Fatal (Y/N), dtype: int64